<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div>this is the about route</div>
  <a href="/projects">projects</a>
  <a href="/">home</a>
</body>
</html>
