<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  
<div>this is the home route</div>
<a href="/projects">projects</a>
<a href="/about">about</a>
<script src="main.js"></script>

</body>
</html>
